.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  .gradient-form{
    width: 100%;
    padding: 4.15%;
    background-image: url("https://exp.cdn-hotels.com/hotels/10000000/9990000/9987700/9987649/762fa903_z.jpg?impolicy=fcrop&w=773&h=530&q=high");
  }