.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #837f88, #68bae9, #1b4c58, #8556b1);
  }
  
  .gradient-form{
    width: 100%;
    padding: 4.15%;
    background-image: url("https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
  }