<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img
                    src="../../assets/images/logo.jpg"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">WELCOME</h4>
                </div>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" placeholder="Enter your Email Id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Email must be a valid email address.</div>
                  </div>
                  

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" placeholder="Enter your Password" class="form-control" id="exampleInputPassword1">
                  </div>
                  

                  <div class="mb-3 form-check">
                    <input type="checkbox"  class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                  </div>
                  <a routerLink="/reservation">
                  <button type="submit" class="btn btn-primary">Submit</button></a><br><br>
                  <a routerLink="/signup" style="text-decoration: none; color: orangered;">Sign-Up</a><br>
                  <a routerLink="/home" style="text-decoration: none; color: orangered;">Back to Home</a>
                  
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a Hotel</h4>
                <p class="small mb-0">Your Hotel experience should be all about personalization, every step of the way.
                  By paying close attention to the small details that make a big difference, we inspire unforgettable
                  experiences with every stay. Step into stylish spaces designed for business and leisure in some of the
                  world’s favorite destinations. Our culinary experts strive to deliver cutting edge, stylish,
                  sophisticated gastronomy to every Hotel dining experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>