<section class="header">
    <nav>


        <a href="" routerLink="/home">


            <img src="../../../assets/images/logo.jpg"
                height="150px" width="150px" style="border-radius: 50%;" alt="...">

        </a>
        <div class="nav-links" id="navLinks">

            <div class="d-flex">
                <ul>
                    <li><a href="" routerLink="/home">HOME</a></li>
                    <li><a href="" routerLink="/gallary">GALLARY</a></li>
                    <li><a href="" routerLink="/contactus">CONTACT US</a></li>
                    <li><a href="" routerLink="/room">ROOMDETAILS</a></li>
                    <li><a href="" routerLink="/reservation">BOOKROOM</a></li>
                    <a class="hero-btn" routerLink='/login'>LOGIN</a>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Gallary -->
    <section>
        <h1 style="text-align: center;font-size: 60px;margin: 25px; font-family: 'Georgia', cursive;">GALLERY</h1>
        <div class="row2">
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_413,w_3871,h_2179,r_0,c_crop,q_90,fl_progressive/w_1500,c_fit,f_auto/orchid-hotels/exterior_8_fort_jadhavgadh_heritage_resort_hotel_pune_-_resort_near_mumbai_398_kziezm"
                    alt="">
            </div>
            <div class="images">
                <img src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg?width=1320&height=746&fit=crop&format=pjpg&auto=webp"
                    alt="">
            </div>
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_76,w_1500,h_844,r_0,c_crop,q_90,fl_progressive/w_1500,c_fit,f_auto/orchid-hotels/Lobby_of_the_orchid_hotel_mumbai_vile_parle_-_5_star_hotel_near_mumbai_airport_15_eyzarc"
                    alt="">
            </div>
        </div>
        <div class="row2">
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3307/x_0,y_491,w_5000,h_2816,r_0,c_crop,q_90,fl_progressive/w_1500,c_fit,f_auto/the-orchid-hotel-pune/Pune_Hotel_Rooms,_The_Orchid_Hotel,_Best_Pune_Hotels_5"
                    alt="">
            </div>
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_615,w_4813,h_1875,r_0,c_crop,q_80,fl_progressive/w_1500,c_fit,f_auto/vits-hotels/Listing_Image_skazsy"
                    alt="">
            </div>
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_336,w_1571,h_612,r_0,c_crop,q_80,fl_progressive/w_1500,c_fit,f_auto/vits-hotels/The_Club_side_hwccxb" alt="">
            </div>
        </div>
        <div class="row2">
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3333/x_0,y_513,w_4999,h_2817,r_0,c_crop,q_90,fl_progressive/w_1500,c_fit,f_auto/lotus-beach-resort-murud-beach-dapoli-ratnagiri/Rooms-_25_mjqkd3"
                    alt="">
            </div>
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_2729/x_81,y_0,w_4843,h_2729,r_0,c_crop,q_90,fl_progressive/w_1500,c_fit,f_auto/fort-jadhavgadh/Entrance_to_our_heritage_hotel,_Fort_Jadhavgadh,_Pune"
                    alt="">
            </div>
            <div class="images">
                <img src="https://www.lux-review.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2019/09/turkish-hotel.jpg.webp"
                    alt="">
            </div>
        </div>
        <div class="row2">
            <div class="images">
                <img src="https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3333/x_0,y_261,w_4999,h_2817,r_0,c_crop,q_90,fl_progressive/w_1500,c_fit,f_auto/lotus-eco-beach-resort-konark/Lotus_Eco_Resort_Konark_-_Resort_in_Konark_near_Sun_Temple_-_Nature_Retreat" alt="">
            </div>
            <div class="images">
                <img src="https://media.radissonhotels.net/image/radisson-hotel-bhopal/exteriorview/16256-126784-f72235915_3xl.jpg?impolicy=HomeHero&gravity=North"
                    alt="">
            </div>
            <div class="images">
                <img src="https://images.unsplash.com/photo-1523735039455-db70a4480860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="">
            </div>
        </div>
        <div class="row2">
            <div class="images">
                <img src="https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                    alt="">
            </div>
            <div class="images">
                <img src="https://www.itchotels.com/content/dam/itchotels/in/umbrella/images/headmast-desktop/welcomhotel-bhubaneswar.jpg"
                    alt="">
            </div>
            <div class="images">
                <img src="https://www.itchotels.com/content/dam/itchotels/in/umbrella/images/new-hotels-desktop/welcomhotel-katra.png"
                    alt="">
            </div>
        </div>
    </section>
</section>