<router-outlet></router-outlet>
<section class="header">
  <nav>

    <a href="" routerLink="/home">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/images/logo.jpg"
              height="150px" width="150px" style="border-radius: 50%;" alt="...">
          </div>
          <div class="carousel-item ">
            <img
              src="../../assets/images/logo2.jpg"
              height="150px" width="150px" style="border-radius: 50%;" alt="...">
          </div>
          <!-- <div class="carousel-item ">
            <img
              src="https://c.tenor.com/NOwYJH3mQeYAAAAM/loader-mvac-car.gif"
              height="150px" width="150px" style="border-radius: 50%;" alt="...">
          </div> -->
        </div>
      </div>
    </a>

    <div class="nav-links" id="navLinks">

      <div class="d-flex">
        <ul>
          <li><a href="" routerLink="/home">HOME</a></li>
          <li><a href="" routerLink="/gallary">GALLARY</a></li>
          <li><a href="" routerLink="/contactus">CONTACT US</a></li>
          <li><a href="" routerLink="/room">ROOMDETAILS</a></li>
          <li><a href="" routerLink="/reservation">BOOKROOM</a></li>
          <a class="hero-btn" routerLink='/login'>LOGIN</a>
        </ul>
      </div>
    </div>
  </nav>
  <div class="text-box">
    
    <p>Address: Maharashtra Nagar Rd, Bhandup, Maharashtra Nagar, Kanjurmarg West, Bhandup West, Mumbai, Maharashtra 400078.<br>mobile no:- 8888 99999 / 9999 8888<br>Email ID :- hotelgrand@gmail.com<br>hotelgrand123@gmail.com<br>(contact us for more enquiry)</p>
    
  </div>


</section>